@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family:'Vollkorn', serif;
    min-width: 100%;
}

.grid-container > * {
    
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px 30px 10px 30px;
}
.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header header header header header"
    "navbar navbar navbar navbar navbar"
    "main main main aside aside"
    "footer footer footer footer footer";
}
.header {
    grid-area: header;
}
.navbar {
    grid-area: navbar;
    background: rgb(39, 38, 38);
}
.aside {
    grid-area: aside;
    
}
.main {
    grid-area: main;
    background: pink;
}
.footer {
    grid-area: footer;
    text-align: right;
    background: rgb(39, 38, 38);
    color: white;
}

header label {
    display: none;
    text-align: left;
}
header label:hover {
    cursor: pointer;
}
nav {
    margin: 20px auto;
    background: gray;
    border-radius: 10px;

  }
#btn-menu {
    display: none;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}  
nav li :hover{
   background: grey;
}

nav ul li {
    float: left;
}   
nav ul li a { 
    padding: 20px;
    text-decoration: none;
    display:  block;
    color: white;
    font-weight: bolder;
   }
ul li {
    list-style: none;
}
.presentacion {
    padding: 30px;
    margin: 20px;
}
h1{
    font-size: 3rem;
}
.presentacion p {
    text-align: justify;
    font-weight: bolder;
    font-style: italic;
}
.presentacion img{
    height: 170px;
    width: 170px;
    border-radius: 100px;
}
.presentacion button{
    font-size: 15px;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 10px;
    font-family:'Vollkorn', serif;
}
.datos-personales{
    text-align: left;
    margin: 50px 20px 20px 20px;
    padding: 30px;
    background: gainsboro;
    border-radius: 10px;
}
.habilidades{
    margin: 20px;
    padding: 30px;
    text-align: left;
    background: gainsboro;
    border-radius: 10px;
}
.contactos{
    margin: 20px;
    padding: 30px;
    background: gainsboro;
    border-radius: 10px;
}
h3{
    font-size: 25px;
}
button {
    font-size: 25px;
    background: none;
    border: none;
    color: rgb(212, 137, 137);
    margin: 10px;
    cursor: pointer;    
}
.iconos a {
   color: rgb(212, 137, 137);
}
.estudios {
    padding: 10px;
    margin: 20px;
}
.experiencia {
    padding: 10px;
    margin: 20px;
}
@media (max-width: 768px) {
    header label {
        display: block;
    
    }
    nav {
        position: absolute;
        background: rgb(39, 38, 38);
        width: 70%;
        margin-left: -100%;
        transition: all 0.5s;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        border-top: 1px solid white;
    }
    #btn-menu:checked ~ .navbar {
        margin: 0;
    }
}
  

   